<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>還真是高高在上啊</title>
  <style>
    body {
      font-family: "Microsoft JhengHei", sans-serif;
      background: linear-gradient(to bottom, #d7f8b2ff, #31bde0ff);
      padding: 40px;
      text-align: center;
    }
    h1 {
      color: #007bff;
    }
    p {
      font-size: 18px;
      color: #333;
    }
  </style>
</head>
<body>

  <h1>歡迎光臨，你這BYD狗東西</h1>
  <p>ZA WARUDO！！！</p>
  <a href="https://www.youtube.com/watch?time_continue=1&v=9tC4FiOVWG8&embeds_referring_euri=https%3A%2F%2Fwww.google.com%2Fsearch%3Fq%3D%25E6%2588%2591%25E7%259A%2584%25E7%2595%25AB%25E9%25A2%25A8%25E5%259C%25A8%25E4%25BD%25A0%25E4%25B9%258B%25E4%25B8%258A%26oq%3D%25E6%2588%2591%25E7%259A%2584%25E&source_ve_path=Mjg2NjY">
我的畫風在妳之上</a>

</body>
</html>
