<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>還真是高高在上啊</title>
    <link rel="stylesheet" href="{{url_for('ststic', filename='styles.css')}}">
</head>
<body>
    <header>
        <h1>Welcome to the 神秘頁面</h1>
    </header>
    <main>
        <p></p>
        <form>
            <label for="fname">First name:<br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:<br>
            <input type="text" id="lname" name="lname"><br>
            <label for="lname">密碼:</label><br>
            <input type="password" id="lname" name="password"><br>
            <input type="submit" value="按我">
            <input type="reset" value="重設">
        </form>
    </main>
    <footer>
        <p></p>
    </footer>
</body>
</html>